<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :for => 'surveyName' %><br>
    <%= f.text_field :name, :class => 'form-control', :id => 'surveyName' %>
  </div>
  <div class="form-group">
    <%= f.label :who_survey_code %><br>
    <%= f.text_field :who_survey_code, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'View Survey', @survey, :class => 'btn btn-primary' if @form_A === 'E'%>
    <%= link_to "Return to Surveys", surveys_path, :class => "btn btn-default" %>
  </div>
<% end %>
