<p id="notice"><%= notice %></p>

<div id="WorkArea">
  <h1>Survey details</h1>
  	
  <p>
    <strong>Name:</strong>
    <%= @survey.name %>
  </p>

  <p>
    <strong>Who survey code:</strong>
    <%= @survey.who_survey_code %>
  </p>

  <%= link_to 'Edit survey', edit_survey_path(@survey), :class => 'btn btn-primary' %> 
  <%= link_to 'Return do surveys', surveys_path, :class => "btn btn-default" %>
</div>
