<!DOCTYPE html>
<html ng-app="AngularSurveys" lang="en">
<head>
  <title><%= full_title(yield(:title)) %> </title>
  
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body class="fluid">
  <!-- begin: page -->
  <div id="page" class="fluidPage">
    <!-- begin: page header -->
    <%= render 'layouts/header' %>    
    <!-- end: page header -->
    <!-- begin: bodyPage -->
    <div class="bodyPage">
      <%= render 'layouts/session_header'%>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div> 
    <!-- end: bodyPage -->
    <!-- begin: page footer-->
    <%= render 'layouts/footer' %>
    <!-- end: page footer -->
  </div> <!--! end of #page-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application'%>
</body>
</html>
